<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parvez_n_jabed_co.ccc_project">

    <!--<uses-permission android:name="android.permission.CALL_PHONE" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--<uses-permission android:name="android.permission.SEND_SMS" />-->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".FirebaseIntregations.FireApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_ccc"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.WebViewActivity">
            <intent-filter>
                <action android:name="WEB" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.GroupListViewActivity" />
        <activity android:name=".Adapters.Icon_name_List_view" />
        <activity android:name=".Activities.Mayor_CEOActivity" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.GroupFixedImgLVActivity" />
        <activity android:name=".Activities.FormRelatedActivities.FormListActivity" />
        <activity android:name=".Activities.FormRelatedActivities.TaxRelatedFormsActivity" />
        <activity android:name=".Activities.FormRelatedActivities.TenderRelatedFormsActivity" />
        <activity android:name=".Activities.FormRelatedActivities.OtherVariousFormsActivity" />
        <activity android:name=".Activities.FormRelatedActivities.TreadLisenseForms" />
        <activity android:name=".Activities.TaxRelatedActivities.TaxActivity" />
        <activity android:name=".Activities.TaxRelatedActivities.HoldingTaxPayment1" />
        <activity android:name=".Activities.TaxRelatedActivities.HoldingTaxPayment2" />
        <activity android:name=".Activities.TaxRelatedActivities.HoldingTaxPaymentFinal" />
        <activity android:name=".Activities.TaxRelatedActivities.ReCheckTaxActivity1" />
        <activity android:name=".Activities.TaxRelatedActivities.TaxPaymentInfoActivity" />
        <activity android:name=".Activities.TaxRelatedActivities.TradeLiscenceInfoActivity" />
        <activity android:name=".Activities.TaxRelatedActivities.RevenueCircleInfo" />
        <activity android:name=".Activities.TaxRelatedActivities.RevenueCircleOfficeInfo" />
        <activity android:name=".Activities.HistoricalPlacesActivities.PlacesNameActivity" />
        <activity android:name=".Activities.HistoricalPlacesActivities.PlacesViewActivity" />
        <activity android:name=".OtherClasses.TestActivities.LiveTestActivity" />
        <activity android:name=".Activities.CommuwithMeyor" />
        <activity android:name=".Activities.GameActivity" />
        <activity android:name=".Activities.TenderActivity" />
        <activity android:name=".Adapters.ListViewNormalSecond" />
        <activity android:name=".Adapters.IconNameList2" />
        <activity android:name=".Activities.DepartmentListActivity" />
        <activity android:name=".Activities.DepartmentViewActivity" />
        <activity android:name=".Activities.HistoryActivity" />
        <activity android:name=".Activities.PressPdfListActivity" />
        <activity android:name=".Adapters.DefaultListView" />
        <activity android:name=".Activities.NotificationActivity">
            <intent-filter>
                <action android:name="NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".FirebaseIntregations.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <activity android:name=".Activities.AboutUsActivity" />
        <activity android:name=".Activities.CommunicationActivity" />
        <activity android:name=".Activities.ComplainActivityNew" />
        <activity android:name=".Activities.UploadActivity" />
        <activity android:name=".Activities.NameIconNewActivity"></activity>
    </application>

</manifest>